<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Page</title>
</head>

<body>
    <!-- div.container>h1+p*3>lorem20 -->
    <div class="container">
        <h1>About Page</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam asperiores eligendi, veritatis doloribus repellendus inventore architecto ut molestiae temporibus! Quam.</p>
        <p>Ratione fugiat asperiores iste rem, quas, facere assumenda exercitationem officiis, voluptatem labore unde vel ipsa expedita magni natus in quisquam!</p>
        <p>In, ab magnam dolore fugiat esse, quibusdam corrupti perspiciatis ex eligendi aut rerum. In dignissimos adipisci ut numquam obcaecati consequuntur?</p>
    </div>
</body>

</html>